body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#scene-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('map_background.png');
  background-size: auto; /* You can adjust this value based on your image */
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.5);
  border: 10px solid black;
}


#car 
{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 30px;
      background-image: url('car.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.5s;
}

#plane {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 2px solid #000;
}

.location {
  position: absolute;
  background: url('location_image.png') center/cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
